@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
:root{
    --primary-font:'Open Sans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary_color:#1d1d1d;
    --secondary_color:rgb(0, 0, 0);
    font-size: 62.5%;
    /* height: 10000px; */
}