

.ProductLink{
    display: inline-block;
    width: 270px;
    border: 2px solid #8080808f;
    margin: 1rem;
    margin-top: 0;
}
.Product{
    position: relative;
}
.Product:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;   
}
.Product:hover .p-img{
    transform: scale(1.2);   
}
.Product-img-box{
    height: 30rem;
    overflow: hidden;
}
.product-body{
    padding: 1rem;
    font-size: 2rem;
    height: 32%;
    background-color: #e6e6e65d;
}
.p-img{
    width: 100%!important;
    height: 100% !important;
    transition: transform .5s ease;
}
/* .p-img:hover{
    transform: scale(1.2);
} */
.p-content{
}
.p-title{
    font-weight: 300;
    /* font-size: 20px; */
}
.p-para{
   font-size: 1.5rem;
   padding: 0.7rem 0rem;
   /* padding-right: 1.5rem; */
   /* text-align: justify; */
}
.p-price{
    font-size: 80%;
}
.p_oldPrice span{
    text-decoration: line-through;
    color: #fc7070;
    margin-right: 1.7rem;
}
.p_price{
    /* font-size: 25px; */
}
.badge{
    position: absolute;
    top: 2rem;
    z-index: 99;
    background-color: red;
    color: white;
    padding: 0.2rem 0.7rem;
    font-size: 1.6rem;
}