

.footerWrapper{
	
	/* background-color: white; */
}
.footer{
	max-width: 110rem;
	margin: 0 auto;
	color: black;
	font-size: 3.5rem;
	padding-top: 2rem;

}
.footer>div{
	width: 100%;
	text-align: left;
}
.customerLink,.aboutLink{
}
.footer ul{
	flex-direction: column;

}
.footer h1{
	font-size:70%;

}
.footer ul li{
	margin: 1rem 0;

}
.footer li a{
	font-size: 50%;
	color: black;
}
.footerContent p{
	font-size: 50%;
	margin: 1rem 0;
	text-align:justify !important;
}
.hr{
	border-bottom: 2px solid red;
	padding-top: 1rem;
}