.FixednavBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    color: white !important;
    /* position: relative; */
    animation: Animation .5s ease 0s 1 alternate;
    /* transition: all 5s ease; */
}
@keyframes Animation {
   0%{transform: translateY(-50%);}
   100%{transform: translateY(0);}
  }