

.mainContainer{
   max-width: 1200px;
   margin: auto;
   margin-top: 2rem;
}
.filterSideBar{
   width: 25%;
   height: 100%;
   padding: 0 1.3rem;
   padding-bottom: 3rem;
   background-color: white;
   border: 2px solid #8080808f;
}
.mainContent{
   width: 75%;
}
.filterOptionitem{
   padding-left: 1rem;
   padding-bottom: 1rem;
}
.filterOptionitem button{
   background-color: transparent;
   padding: 0.5rem 1rem;
   border: none;
}
.filterHeading{
   border-bottom: 2px solid rgba(0, 0, 0, 0.823);
   font-size: 2rem;
   text-transform: uppercase;
}
.downArrow{
   font-size: 2rem;
   font-weight: bolder;
}
.filterBtn{
   margin:1rem 0;
   padding: 0.5rem ;
 cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.hrLine{
   border-bottom: 1.6px solid rgba(0, 0, 0, 0.426);
}
.filterClick h1{
   margin: 1rem 0;
}
.filterClickList{
   font-size: 2rem;
}
.filterClickList li{
  margin: 1rem 0;
}
.clearAll{
   font-size: 2rem;
   color: red;
   cursor: pointer;
   transition: all .3s ease;
   padding: 0.5rem 1rem;

}
.clearOne{
   cursor: pointer;
  background-color:transparent;
  /* border: 2px solid black; */
  border: none;
  font-size: 2rem;
  padding: 0 1rem;

}
.clearOne:hover{
   background-color: rgb(249 64 64);
   color: white;

}
.clearAll:hover{
   background-color: rgb(249 64 64);
   color: white;

}
/* detail product  */
.detProWrapper{
   /* border: 3px solid red; */
   width: 80%;
   margin: auto;
   font-size: 3rem;
}
.detProImage,.detProContent{
   width: 50%;
}
.detProImageBox{
   height: 50rem;
   width: 40rem;
   /* margin: 5rem 0; */
}